<?xml version="1.0"?>
<launch>

  <!--- Run dynamixel motor controllers -->
  <include file="$(find hdf_dynamixel)/launch/hdf_dynamixel_manager.launch" />
  <include file="$(find hdf_dynamixel)/launch/hdf_dynamixel_control.launch" />

  <!--param name="use_simtime" type="bool" value="true" /-->
  	
  <!--- Run base controller -->
  <!--include file="$(find hdf_base)/launch/hdf_base.launch" /-->

</launch>
